.footer
  -#.row
    .col-md-12
  -#.text-center
    %a{:href => "https://fifa.com", target: :blank, title: 'Переход на официальный сайт FIFA'}
      =image_tag("fifa.png", size: "55")


    %a{:href => "https://uefa.com", target: :blank, title: 'Переход на официальный сайт UEFA'}
      =image_tag("uefa.png", size: "55")

    %a{:href => "https://koaf.kz", target: :blank, title: 'Переход на официальный сайт КОАФ'}
      =image_tag("koaf.png", size: "55")

  .row
    -#.col-md-12
    .text-center.copyright
      \&#xA9; 2019 -
      =Date.today.year
      Все права защищены. Копирование допускается с указанием на первоисточник.

