#label_bar
  .row
    .col-md-8
      .pull-left
        %a{:href => "/", title: 'На главную'}
          =image_tag("brand.png", size: "75", class: 'brand')
        Комитет по футзалу Карагандинской областной ассоциации футбола

    .col-md-4
      .well.pull-right

        =image_tag("sponsor1.png", size: "60", title: "Мини-футбольный клуб 'Тулпар'")
        =image_tag("sponsor3.png", height: "55",width:"110", title: "KAZ GLOBAL TREVEL")
        =image_tag("sponsor2.png", size: "60", title: "Спорткомплекс 'Тулпар'")

