#custom-bootstrap-menu.navbar.navbar-default.my_menu{:role => "navigation"}
  #scroller.pull-right
  .navbar-header
    %a.navbar-brand{:href => "#"}

    %button.navbar-toggle{"data-target" => ".navbar-menubuilder", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-menubuilder
    %ul.nav.navbar-nav.navbar-left
      %li{class: request.path==root_path ? 'active':''}
        =link_to root_path do
          %i.fa.fa-home
          Главная
      %li{class: request.path.match('doc') ? 'active':''}
        =link_to doc_index_path do
          %i.fa.fa-book
          Документы
      %li{class: request.path==referee_path ? 'active':''}
        =link_to referee_path do
          %i.fa.fa-id-badge
          Судьи
      -if League.count>0&&Team.where(league_id: League.ids).count>0
        %li.dropdown{class: (request.path.match('team')&&!request.path.match('table')) ? 'active':''}
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-futbol-o
            Команды
            %span.caret
          %ul.dropdown-menu            
            -League.all.each do |l|
              %li
                %a{:href => team_index_path(league_id: l.id)} Текущий сезон. #{l.name}
            -League.unscoped.where(season_id: Season.unscoped.old.pluck(:id)).each do |l|
              %li
                %a{:href => team_index_path(league_id: l.id)} Архив. Сезон #{l.season.name}. #{l.name}

      -if League.count>0&&Team.where(league_id: League.ids).count>0
        %li.dropdown{class: request.path.match('table')&&params[:old].blank? ? 'active':''}
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-table
            Таблицы
            %span.caret
          %ul.dropdown-menu
            -League.all.each do |l|
              %li
                %a{:href => team_position_table_path(l.id)}=l.name


      -history_seasons = Season.unscoped.where(current: false)
      %li{class: request.path==items_path ? 'active':''}
        =link_to items_path do
          %i.fa.fa-file
          Новости
      
      -if history_seasons.present?  || Photo.all.count>0 
        %li.dropdown{class: request.path.match('phot').present? ? 'active':''}
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-table
            Фото
            %span.caret
          %ul.dropdown-menu
            -if  Photo.all.count>0  
              %li
                %a{:href => photo_index_path} Текущий сезон
            -history_seasons.all.each do |h|
              %li
                %a{:href => photo_index_path(old: true, season_id: h.id)}
                  Архив #{h.name}
          
          
      -if history_seasons.present? && League.unscoped.where(season_id: history_seasons.pluck(:id)).present?
        %li.dropdown{class: params[:old].present?&&request.path.match('team_position').present? ? 'active':''}
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-table
            Архив игр
            %span.caret
          %ul.dropdown-menu
            -history_seasons.all.each do |h|
              -League.unscoped.where(season_id: h.id).each do |l|
                %li
                  %a{:href => team_position_table_path(id: l.id, old: true)}
                    =h.name
                    =l.name


      %li{class: request.path==contacts_path ? 'active':''}
        %a{:href => "https://www.youtube.com/channel/UC8vcDQ7ZAhLs-T8KEMixMSw", target: :blank, title: 'Переход на наш канал в YouTube'} 
          %i.fa.fa-youtube-play
          Просмотр матчей

    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "https://fifa.com", target: :blank, title: 'Переход на официальный сайт FIFA'}
          =image_tag("fifa.png", size: "35")
      %li
        %a{:href => "https://uefa.com", target: :blank, title: 'Переход на официальный сайт UEFA'}
          =image_tag("uefa.png", size: "35")
      %li
        %a{:href => "https://koaf.kz", target: :blank, title: 'Переход на официальный сайт КОАФ'}
          =image_tag("koaf.png", size: "35")

      -if user_signed_in?

        %li
          =link_to destroy_user_session_path, :method => :delete, title:'Выйти' do
            %i.fa.fa-sign-out
        -if current_user.active_admin
          %li
            =link_to rails_admin_path, title: 'панель администратора' do
              %i.fa.fa-user-o
      -else
        %li
          =link_to new_user_session_path do
            %i.fa.fa-sign-in
