%ul.nav.nav-tabs
  %li{class: request.path.match('team_position') ? 'active': ''}
    =link_to 'положение команд',team_position_table_path(id: params[:id], old: params[:old])
  %li{class: request.path.match('match_result') ? 'active': ''}
    =link_to 'результаты матчей',match_result_table_path(id: params[:id], old: params[:old])
  %li{class: request.path.match('goal_leader') ? 'active': ''}
    =link_to 'бомбардиры',goal_leader_table_path(id: params[:id], old: params[:old])
  %li{class: request.path.match('summary') ? 'active': ''}
    =link_to 'обзор матчей',summary_table_path(id: params[:id], old: params[:old])
