
- title 'Бомбардиры'
- meta_tag :description, 'Бомбардиры соревнований по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Бомбардиры , Футзал, Караганда, Карагандинская область, 2018 год, '+"#{@league_name}"

.panel.panel-success
  =render 'panel_heading'
  .panel-body 
    %h3 #{@league_name}. Бомбардиры на #{Time.now.strftime('%d.%m.%Y')}.
    =render 'nav'
    %table.table.table-hover
      %tr.active
        %td
        %td.text-center игрок
        %td.text-center команда
        %td.text-center голы
       
      -@leaders.each_with_index do |leader, index|
        %tr
         
          %td.text-center=index+1
          %td.text-center=leader.fio
          %td.text-center=leader.team.name
          %td.text-center=leader.goal
