- title 'Архив игр '+"#{@season_name}"
- meta_tag :description, 'Результаты матчей в рамках проведения соревнованиий по футзалу Карагандинской области'+"#{@season_name}"
- meta_tag :keywords, 'Результаты матчей , Футзал, Караганда, Карагандинская область, 2018 год, '+"#{@league_name}"