%tr
  %td
    -if result.timestamp.present?
      =l result.timestamp, format: :short
    -else
      Не указано

  %td
    -if result.home_team.present?
      =link_to result.home_team.name, team_path(result.home_team.id), target: :blank
  
  %td
    -if result.guest_team.present?
      =link_to result.guest_team.name, team_path(result.guest_team.id), target: :blank
  
  -if result.result.present?  
    %td=result.result