%tr
  %td
    -if result.timestamp.present?
      =l result.timestamp, format: :short
    -else
      Не указано

  %td=link_to result.home_team.name, team_path(result.home_team.id), target: :blank
  
  %td=link_to result.guest_team.name, team_path(result.guest_team.id), target: :blank
  
  %td=result.result