%tr
  %td
    -if result.timestamp.present?
      %strong=l result.timestamp, format: :short
      
    -else
      Не указано

  %td.text-left
    -if result.home_team.present?
      =result.home_team.name


      %br
      %br
        =result.guest_team.name
  %td  
    -if result.result.present?
      
      %strong
        .text-center
          =result.result.split(':')[0]
          -if result.guest_team.present?
            - length = result.home_team.name.length
            %br
            -if length >24
              #content2
            -if result.home_team.id == 121 || length > 34
              #content2
          
            %br=result.result.split(':')[1]



  
