- title 'Контакты'
- meta_tag :description, 'Контактные данные КОАФ'
- meta_tag :keywords, 'КОАФ контакт'
.panel.panel-success
  .panel-heading
    .row
      .col-md-9
        Контактная информация
      .col-md-3
        =render 'share/social_share'
  .panel-body
    -if @text.present?
      -@text.each do |c|
        %p=c.body
    -else
      .text-center Пока не создано ни одной записи о контактах
