.panel.panel-success
  .panel-heading
    Контактная информация
  .panel-body
    -if @text.present?
      -@text.each do |c|
        %p=c.body
              
              
              
              
              
              
