- title 'Главная'
- meta_tag :description, 'Расписание следующего тура, итоги прошедшего тура, новости соревнований по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Футзал, Караганда, Карагандинская область, 2018 год, расписание игр футзал'
.panel.panel-success
  .panel-heading
    Новости
  .panel-body
    -if @items.present?
      %ul.list-group
        -@items.each do |item|
          %li.list-group-item
            
            .row
              .col-md-3
              
                .text-center= image_tag item.image.url(:small) if item.image.present?
              .col-md-9


                %h3.text-center=link_to item.title, items_path(item), target: :blank

                %p=item.body_preview

                %p.pull-right
                  %i.fa.fa-calendar
                  =l item.created_at, format: :short
                  =link_to 'Читать', items_path, class: 'btn btn-info btn-sm'
    -else
      .text-center Пока не создано ни одной новости


.panel.panel-success
  .panel-heading
    Результаты прошедшего тура
  .panel-body
    -if @tours.present?
      -@tours.each do |tour|
        %h3.text-center=tour.name
        - results = Schedule.finished.where(tour_id: tour.id).last(10)
        -if results.present?
          %ul.list-group
            %table.table.table-hover
              %tr.active
                %td Дата и время
                %td Хозяин
                %td Гость
                %td Счет
              -results.each do |result|
                %tr
                  %td=l result.timestamp, format: :short
                  %td=result.home_team.name
                  %td=result.guest_team.name if result.guest_team.present?
                  %td=result.result
    -else
      .text-center Результатов нет

.panel.panel-success
  .panel-heading
    Расписание следующего тура
  .panel-body
    -if @tours_future.present?
      -@tours_future.each do |tour|
        %h3.text-center=tour.name
        - results = Schedule.start.where(tour_id: tour.id).last(10)
        -if results.present?
          %ul.list-group
            %table.table.table-hover
              %tr.active
                %td Дата и время
                %td Хозяин
                %td Гость
              -results.each do |schedule|
                %tr
                  %td=l schedule.timestamp, format: :short
                  %td=schedule.home_team.name
                  %td=schedule.guest_team.name
    -else
      .text-center Расписание на следующий тур пока не создано