.panel.panel-success
  .panel-heading
    Новости
  .panel-body
    -if @items.present?
      %ul.list-group
        -@items.each do |item|
          %li.list-group-item
            
            .row
              .col-md-3
              
                .text-center= image_tag item.image.url(:small) if item.image.present?
              .col-md-9
               
                  
                %h3.text-center=link_to item.title, items_path(item), target: :blank
                %p=item.body_preview
                %p.pull-right
                  %i.fa.fa-home
                  Просмотров: #{item.count_views}
                  =link_to 'Читать', items_path(item), class: 'btn btn-info btn-sm' 

.panel.panel-success
  .panel-heading
    Результаты прошедшего тура
  .panel-body
    -if @results.present?
      %ul.list-group
        %table.table.table-hover
          %tr.active
            %td Дата и время
            %td Хозяин 
            %td Гость
            %td Счет
          -@results.each do |result|
            %tr
              %td=l result.timestamp, format: :short
              %td=result.home_team.name
              %td=result.guest_team.name if result.guest_team.present?
              %td=result.result
.panel.panel-success
  .panel-heading
    Расписание следующего тура
  .panel-body
    -if @schedule.present?
      %ul.list-group
        %table.table.table-hover
          %tr.active
            %td Дата и время
            %td Хозяин 
            %td Гость
           
          -@schedule.each do |schedule|
            %tr
              %td=l schedule.timestamp, format: :short
              %td=schedule.home_team.name
              %td=schedule.guest_team.name

              
              
              
              
              
              
              
              
              
              
