- title 'Главная'
- meta_tag :description, 'Расписание следующего тура, итоги прошедшего тура, новости соревнований по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Футзал, Караганда, Карагандинская область, 2021-2022 год, расписание игр футзал'

-if @items.present?
  .panel.panel-success
    .panel-heading
      Новости
    .panel-body    
      %ul.list-group
        -@items.each do |item|
          %li.list-group-item
            
            .row
              .col-md-3
                              
                .text-center
                  .photo_large
                    = image_tag item.image.url(:small) if item.image.present?
              .col-md-9


                %h3.text-center=link_to item.title, items_path(item), target: :blank

                %p=item.body.html_safe

                %p.pull-right
                  %i.fa.fa-calendar
                  =l item.updated_at+6.hours, format: :short

- if @current_games.present?
  =render 'games', name: "Игры сегодня", games: @current_games

- if @future_games.present?
  =render 'games', name: "Расписание предстоящих игр", games: @future_games

- if @last_games.present?
  =render 'games', name: "Результаты игр прошедшей недели", games: @last_games
