- title 'Новости'
- meta_tag :description, 'Новости соревнований по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Новости, Футзал, Караганда, Карагандинская область, 2018 год, '+"#{@league_name}"
.panel.panel-success
  .panel-heading
    .row
      .col-md-9
        Новости
      .col-md-3
        =render 'share/social_share'
  .panel-body
    -if @items.present?
      %ul.list-group
        -@items.each do |item|
          %li.list-group-item
            
            .row
              .col-md-3

                .text-center= image_tag item.image.url(:small) if item.image.present?
              .col-md-9
                %h3.text-center=link_to item.title, items_path(item), target: :blank
                %p=item.body.html_safe
                .pull-right
                  %i.fa.fa-calendar
                  =l item.updated_at+6.hours, format: :short
