
-league_name = League.unscoped.find(params[:league_id]).name
- title 'Команды '+"#{league_name}"
- meta_tag :description, 'Команды, принимающие участие в соревнованиях по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Команды, футзал, Караганда, Карагандинская область, 2018 год, расписание игр футзал, '+"#{league_name}"
.panel.panel-success
  .panel-heading
    .row
      .col-md-9
        Команды. #{league_name}.

      .col-md-3
        =render 'share/social_share'
  .panel-body
    -@teams.each do |t|
      .photo
        =link_to   team_path(t.id), target: :blank, title: 'Перейти на страницу команды' do
          #{image_tag t.image.url(:big) if t.image.exists?}
          =image_tag("no_foto.jpg") unless t.image.exists?
          %figcaption=t.name




