
@import "bootstrap";
@import "font-awesome";
.mypanel {
    background-color: rgba(59, 227, 59, 1);
    
    
    
}
#label_bar {
    font: bold italic 110% sans-serif, "Times New Roman", Times, serif;
    font-size: 26px;
    background-image: image-url("field33.png");
    color: rgba(255, 250, 250, 1);
}
#label_bar .well {
    //background-color: #535746;
    border: #535746;
    background-color: #e9fde3;
    
    
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 250, 250, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    //background-color: #e4a84e;
   background: rgb(30,113,40);
   background: linear-gradient(0deg, rgba(30,113,40,1) 0%, rgba(22,85,30,1) 35%, rgba(30,113,40,1) 100%);
    //background-image: url(field3.jpg);
    //border-width: 1px;
    //border-radius: 4px;
    border: rgba(59, 227, 59, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 250, 250, 1);
    //background-color: #e4a84e;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    //color: rgba(59, 227, 59, 1);
    //background-color: rgba(248, 248, 248, 0);
    background-color: #e4a84e;
    border-radius: 5px;
    border-width: 1px;
    border: #e4a84e;
    color: rgba(255, 250, 250, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 250, 250, 1);
    background-color: rgba(59, 227, 59, 1);
    //background-color: #e4a84e;
     border-radius: 5px;
    border-width: 1px;
    border: #e4a84e;
    bottom:0;

}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
   // border-color: #3be33b;
    background-color: #bde536;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #3be33b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #3be33b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #879e86;
}

body{
    background-repeat: repeat;
    background-position: center center;
    background-image: image-url("1.jpg");
  //background-color: rgba(59, 227, 59, 1); 
  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}


* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  right: 0;
}
.content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
}
.footer{
    background-repeat: no-repeat;
    background-position: bottom right;
 //   background-image: url(ball.jpg);
   background-size: 30px 30px;
  background-color: rgba(59, 227, 59, 1);  
}
#scroller{
  right:1em;
  bottom:2em;
  position: fixed;
  padding-top: 1em;
  cursor: pointer;
  z-index: 2;
  width: 32px;
  display: none;


  //background: transparent url(arrow.png) no-repeat right top;
  background-image: image-url("arrow.png");
  height: 32px;

}
.navbar-brand{
  background-image: image-url("brand.png") no-repeat;
  width: 32px;
  height: 32px;
}
.positionTop{
  position: fixed;
  top: 0%;
  left: 0;
  opacity:1;

  width: 100%;
  z-index: 2;
}

.photo {
  float: left; /* говорим элементам выстраиваться один за другим */
  max-width: 33.333333%; /* устанавливаем ширину элемента */
  padding: 10px; /* добавляем отступы с каждой стороны */
  box-sizing: border-box; /* меняем способ вычисления ширины */
}
.photo_large {
  
  max-width: 100%; /* устанавливаем ширину элемента */
  padding: 10px; /* добавляем отступы с каждой стороны */
  box-sizing: border-box; /* меняем способ вычисления ширины */
}
.photo_large img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 5px;
  background-color: #eee;
  box-sizing: border-box;
}


.photo img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 10px;
  background-color: #eee;
  box-sizing: border-box;
}

.photo a:hover {
  opacity: 0.5;
}
.photo a {
  display: block;
}

.photo figcaption {
  font-family: 'Open Sans', sans-serif;
  color: #999999;
  text-align: center;
  margin-top: 20px;
}
.leader_team{
  background-color: #F6E22A;
  color: black;
}
.team-well{
  background-color: ghostwhite;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
}
@media only screen and (max-width: 700px) {
  #label_bar {
    font-size: 16px;
  }
  #label_bar img.brand{
    width: 32px;
    height: 32px;
  }
  .content {
    padding-bottom: 60px;
  }
  .footer {
    height: 60px;
  }
  .copyright{
    padding: 10px;
  }
  .photo {
    max-width: 90%; /* устанавливаем ширину элемента */
  }
  .photo figcaption {
    margin-top: 16px;
  }

}

@media only screen and (max-width: 900px) and (min-width: 701px) {
  .photo {
    max-width: 50%; /* устанавливаем ширину элемента */
  }
  .photo figcaption {
    margin-top: 16px;
  }

}