
@import "bootstrap";
@import "font-awesome";
.mypanel {
    background-color: rgba(59, 227, 59, 1);
    
    
    
}
#label_bar {
    font: bold italic 110% sans-serif, "Times New Roman", Times, serif;
    font-size: 26px;
    //background-color: #e4a84e;
    background-color: #074d10;
    background-image: url(field3.jpg);
    
    //font-family:  sans-serif, "Times New Roman", Times, serif;
    color: rgba(255, 250, 250, 1);
}
#label_bar .well {
    background-color: #535746;
    border: #535746;
    
    
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 250, 250, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    //background-color: #e4a84e;
   background: rgb(30,113,40);
   background: linear-gradient(0deg, rgba(30,113,40,1) 0%, rgba(22,85,30,1) 35%, rgba(30,113,40,1) 100%);
    //background-image: url(field3.jpg);
    //border-width: 1px;
    //border-radius: 4px;
    border: rgba(59, 227, 59, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 250, 250, 1);
    //background-color: #e4a84e;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    //color: rgba(59, 227, 59, 1);
    //background-color: rgba(248, 248, 248, 0);
    background-color: #e4a84e;
    border-radius: 5px;
    border-width: 1px;
    border: #e4a84e;
    color: rgba(255, 250, 250, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 250, 250, 1);
    //background-color: #bde536;
    background-color: #e4a84e;
     border-radius: 5px;
    border-width: 1px;
    border: #e4a84e;
    bottom:0;

}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
   // border-color: #3be33b;
    background-color: #bde536;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #3be33b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #3be33b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #879e86;
}

body{
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(parquet.jpg);
  background-color: rgba(59, 227, 59, 1); 
  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}


* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 35px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
}
.footer{
    background-repeat: no-repeat;
    background-position: bottom right;
 //   background-image: url(ball.jpg);
   background-size: 30px 30px;
  background-color: rgba(59, 227, 59, 1);  
}

