
@import "bootstrap";
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 250, 250, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: #e4a84e;
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 250, 250, 1);
    background-color: #e4a84e;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(59, 227, 59, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 250, 250, 1);
    background-color: rgba(59, 227, 59, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #3be33b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #3be33b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #3be33b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #879e86;
}

body{
    background-repeat: repeat;
    background-position: center center;
    background-image: url(parquet.jpg);
  background-color: rgba(59, 227, 59, 1);  
}
